{% extends 'signin/staff_dash_base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
{% endblock %}


{% block content %}
    <div id="num-users-row">
        <div class="card">
            <div class="card-body">
                <div class="user-num">
                    {{ today_users }}
                </div>
                <p class="card-text">Members Here Today</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="user-num">
                    {{ active_users }}
                </div>
                <p class="card-text">Active Members</p>
            </div>
        </div>

        <div class="card card-end">
            <div class="card-body">
                <div class="user-num">
                    {{ all_users }}
                </div>
                <p class="card-text">Total Members</p>
            </div>
        </div>
    </div>
{% endblock %}
